--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1 (Debian 16.1-1.pgdg120+1)
-- Dumped by pg_dump version 16.1 (Debian 16.1-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO nihad;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO nihad;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO nihad;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO nihad;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO nihad;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO nihad;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "Discriminator" text NOT NULL,
    "Name" text,
    "Surname" text,
    "ProfileImageUrl" text,
    "BirthDate" timestamp with time zone,
    "IsVerified" boolean,
    "JoinedTime" timestamp with time zone,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL,
    "IsPublic" boolean
);


ALTER TABLE public."AspNetUsers" OWNER TO nihad;

--
-- Name: Comments; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Comments" (
    "Id" integer NOT NULL,
    "Content" text NOT NULL,
    "PostId" integer NOT NULL,
    "UserId" text NOT NULL,
    "ParentCommentId" integer,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."Comments" OWNER TO nihad;

--
-- Name: Comments_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Comments" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Comments_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Movies; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Movies" (
    "Id" integer NOT NULL,
    "ImdbId" text NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL,
    "TrailerUrl" text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."Movies" OWNER TO nihad;

--
-- Name: Movies_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Movies" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Movies_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Posts; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Posts" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "TagId" integer NOT NULL,
    "MovieId" integer,
    "UserId" text NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."Posts" OWNER TO nihad;

--
-- Name: Posts_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Posts" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Posts_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Reviews; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Reviews" (
    "UserId" text NOT NULL,
    "MovieId" integer NOT NULL,
    "RatingValue" smallint NOT NULL,
    "Title" text,
    "Description" text,
    "Id" integer NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."Reviews" OWNER TO nihad;

--
-- Name: Reviews_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Reviews" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Reviews_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Sliders; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Sliders" (
    "Id" integer NOT NULL,
    "MovieId" integer NOT NULL,
    "ImageUrl" text NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."Sliders" OWNER TO nihad;

--
-- Name: Sliders_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Sliders" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Sliders_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Tags; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."Tags" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."Tags" OWNER TO nihad;

--
-- Name: Tags_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."Tags" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Tags_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WatchListMovies; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."WatchListMovies" (
    "WatchListId" integer NOT NULL,
    "MovieId" integer NOT NULL,
    "IsWatched" boolean NOT NULL,
    "Id" integer NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."WatchListMovies" OWNER TO nihad;

--
-- Name: WatchLists; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."WatchLists" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "CreatedTime" timestamp with time zone NOT NULL,
    "UpdatedTime" timestamp with time zone NOT NULL
);


ALTER TABLE public."WatchLists" OWNER TO nihad;

--
-- Name: WatchLists_Id_seq; Type: SEQUENCE; Schema: public; Owner: nihad
--

ALTER TABLE public."WatchLists" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WatchLists_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO nihad;

--
-- Name: dump_2024-02-23_00_12_56; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."dump_2024-02-23_00_12_56" (
    c1 text
);


ALTER TABLE public."dump_2024-02-23_00_12_56" OWNER TO nihad;

--
-- Name: file-name-to-backup-to; Type: TABLE; Schema: public; Owner: nihad
--

CREATE TABLE public."file-name-to-backup-to" (
    c1 text,
    c2 text,
    c3 text,
    c4 text
);


ALTER TABLE public."file-name-to-backup-to" OWNER TO nihad;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
c4dfbef5-1dd9-4865-a86a-f5c960ddb2cd	Admin	ADMIN	87fcbdba-79b2-4385-9979-04f62d46d371
bfd31c9c-9107-4c5f-adb0-0e273df1999f	Member	MEMBER	49609f1a-ad96-4d4c-bcc1-38a8c8cc1923
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
7c6006f4-8eeb-41c0-83d7-a3cb97086b80	c4dfbef5-1dd9-4865-a86a-f5c960ddb2cd
a7d72991-26e5-45de-8a8f-fa75bbc2156e	bfd31c9c-9107-4c5f-adb0-0e273df1999f
149c0854-49c1-4143-9df5-7434d35a718b	bfd31c9c-9107-4c5f-adb0-0e273df1999f
e013ff4b-88f6-47de-a6d7-739ea86f320a	bfd31c9c-9107-4c5f-adb0-0e273df1999f
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: nihad
--



--
-- Data for Name: Comments; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."Comments" ("Id", "Content", "PostId", "UserId", "ParentCommentId", "CreatedTime", "UpdatedTime") FROM stdin;
\.


--
-- Data for Name: Movies; Type: TABLE DATA; Schema: public; Owner: nihad
--



--
-- Data for Name: Posts; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."Posts" ("Id", "Title", "Description", "TagId", "MovieId", "UserId", "CreatedTime", "UpdatedTime") FROM stdin;
\.


--
-- Data for Name: Reviews; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."Reviews" ("UserId", "MovieId", "RatingValue", "Title", "Description", "Id", "CreatedTime", "UpdatedTime") FROM stdin;
\.


--
-- Data for Name: Sliders; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."Sliders" ("Id", "MovieId", "ImageUrl", "CreatedTime", "UpdatedTime") FROM stdin;
2	2	https://wallpapersmug.com/download/1600x900/220ab6/matrix-trilogy-movie-5k.jpg	2024-02-19 14:01:29.372905+00	2024-02-19 17:59:00.34787+00
5	9	https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/movie-banner-1.webp	2024-02-19 17:59:19.050203+00	-infinity
6	10	https://i.imgur.com/4bkYR7N.png	2024-02-19 18:04:28.940365+00	-infinity
\.


--
-- Data for Name: Tags; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."Tags" ("Id", "Title", "CreatedTime", "UpdatedTime") FROM stdin;
1	Updates	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
2	General	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
3	Suggestion	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
4	Question	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
5	Discussion	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
6	Feedback	2024-02-13 18:07:18.469+00	2024-02-13 18:07:21.562+00
\.


--
-- Data for Name: WatchListMovies; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."WatchListMovies" ("WatchListId", "MovieId", "IsWatched", "Id", "CreatedTime", "UpdatedTime") FROM stdin;
3	4	t	0	2024-02-14 07:53:32.833063+00	-infinity
3	5	f	0	2024-02-14 07:53:36.142108+00	-infinity
2	3	t	0	2024-02-14 07:53:42.95507+00	-infinity
2	5	f	0	2024-02-21 08:51:24.455984+00	-infinity
\.


--
-- Data for Name: WatchLists; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."WatchLists" ("Id", "UserId", "CreatedTime", "UpdatedTime") FROM stdin;
2	149c0854-49c1-4143-9df5-7434d35a718b	2024-02-14 07:25:33.88996+00	-infinity
3	a7d72991-26e5-45de-8a8f-fa75bbc2156e	2024-02-14 07:53:15.565415+00	-infinity
4	7c6006f4-8eeb-41c0-83d7-a3cb97086b80	2024-02-22 14:34:57.443248+00	-infinity
6	e013ff4b-88f6-47de-a6d7-739ea86f320a	2024-02-22 16:42:06.099275+00	-infinity
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: nihad
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20240212105356_CreatedWatchListMoviesTable	6.0.26
20240214072227_ChangedIsPublicColumn	6.0.26
20240219133010_CreatedSlidersTable	6.0.26
\.


--
-- Data for Name: dump_2024-02-23_00_12_56; Type: TABLE DATA; Schema: public; Owner: nihad
--



--
-- Data for Name: file-name-to-backup-to; Type: TABLE DATA; Schema: public; Owner: nihad
--



--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: Comments_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Comments_Id_seq"', 9, true);


--
-- Name: Movies_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Movies_Id_seq"', 58, true);


--
-- Name: Posts_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Posts_Id_seq"', 5, true);


--
-- Name: Reviews_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Reviews_Id_seq"', 4, true);


--
-- Name: Sliders_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Sliders_Id_seq"', 6, true);


--
-- Name: Tags_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."Tags_Id_seq"', 1, false);


--
-- Name: WatchLists_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: nihad
--

SELECT pg_catalog.setval('public."WatchLists_Id_seq"', 6, true);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Comments PK_Comments; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "PK_Comments" PRIMARY KEY ("Id");


--
-- Name: Movies PK_Movies; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Movies"
    ADD CONSTRAINT "PK_Movies" PRIMARY KEY ("Id");


--
-- Name: Posts PK_Posts; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "PK_Posts" PRIMARY KEY ("Id");


--
-- Name: Reviews PK_Reviews; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "PK_Reviews" PRIMARY KEY ("MovieId", "UserId");


--
-- Name: Sliders PK_Sliders; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Sliders"
    ADD CONSTRAINT "PK_Sliders" PRIMARY KEY ("Id");


--
-- Name: Tags PK_Tags; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Tags"
    ADD CONSTRAINT "PK_Tags" PRIMARY KEY ("Id");


--
-- Name: WatchListMovies PK_WatchListMovies; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."WatchListMovies"
    ADD CONSTRAINT "PK_WatchListMovies" PRIMARY KEY ("MovieId", "WatchListId", "IsWatched");


--
-- Name: WatchLists PK_WatchLists; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."WatchLists"
    ADD CONSTRAINT "PK_WatchLists" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_Comments_ParentCommentId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Comments_ParentCommentId" ON public."Comments" USING btree ("ParentCommentId");


--
-- Name: IX_Comments_PostId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Comments_PostId" ON public."Comments" USING btree ("PostId");


--
-- Name: IX_Comments_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Comments_UserId" ON public."Comments" USING btree ("UserId");


--
-- Name: IX_Posts_MovieId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Posts_MovieId" ON public."Posts" USING btree ("MovieId");


--
-- Name: IX_Posts_TagId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Posts_TagId" ON public."Posts" USING btree ("TagId");


--
-- Name: IX_Posts_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Posts_UserId" ON public."Posts" USING btree ("UserId");


--
-- Name: IX_Reviews_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_Reviews_UserId" ON public."Reviews" USING btree ("UserId");


--
-- Name: IX_Sliders_MovieId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE UNIQUE INDEX "IX_Sliders_MovieId" ON public."Sliders" USING btree ("MovieId");


--
-- Name: IX_WatchListMovies_WatchListId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE INDEX "IX_WatchListMovies_WatchListId" ON public."WatchListMovies" USING btree ("WatchListId");


--
-- Name: IX_WatchLists_UserId; Type: INDEX; Schema: public; Owner: nihad
--

CREATE UNIQUE INDEX "IX_WatchLists_UserId" ON public."WatchLists" USING btree ("UserId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: nihad
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: nihad
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Comments FK_Comments_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Comments FK_Comments_Comments_ParentCommentId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Comments_ParentCommentId" FOREIGN KEY ("ParentCommentId") REFERENCES public."Comments"("Id");


--
-- Name: Comments FK_Comments_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id");


--
-- Name: Posts FK_Posts_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "FK_Posts_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Posts FK_Posts_Movies_MovieId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "FK_Posts_Movies_MovieId" FOREIGN KEY ("MovieId") REFERENCES public."Movies"("Id");


--
-- Name: Posts FK_Posts_Tags_TagId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "FK_Posts_Tags_TagId" FOREIGN KEY ("TagId") REFERENCES public."Tags"("Id") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_Movies_MovieId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_Movies_MovieId" FOREIGN KEY ("MovieId") REFERENCES public."Movies"("Id") ON DELETE CASCADE;


--
-- Name: Sliders FK_Sliders_Movies_MovieId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."Sliders"
    ADD CONSTRAINT "FK_Sliders_Movies_MovieId" FOREIGN KEY ("MovieId") REFERENCES public."Movies"("Id") ON DELETE CASCADE;


--
-- Name: WatchListMovies FK_WatchListMovies_Movies_MovieId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."WatchListMovies"
    ADD CONSTRAINT "FK_WatchListMovies_Movies_MovieId" FOREIGN KEY ("MovieId") REFERENCES public."Movies"("Id") ON DELETE CASCADE;


--
-- Name: WatchListMovies FK_WatchListMovies_WatchLists_WatchListId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."WatchListMovies"
    ADD CONSTRAINT "FK_WatchListMovies_WatchLists_WatchListId" FOREIGN KEY ("WatchListId") REFERENCES public."WatchLists"("Id") ON DELETE CASCADE;


--
-- Name: WatchLists FK_WatchLists_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: nihad
--

ALTER TABLE ONLY public."WatchLists"
    ADD CONSTRAINT "FK_WatchLists_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

