@using MovieRental.Business.ViewModels.MovieVMs
@{
    ViewData["Title"] = "Home Page";
}

<script>

    let apiUrl = 'https://www.omdbapi.com/?apikey=137fe9c1&i=item.ImdbId';
    let movieImages;
    let movieTitles;
</script>

@await Component.InvokeAsync("Slider")

@await Component.InvokeAsync("TopMovies")

@await Component.InvokeAsync("PopularMovies")

@await Component.InvokeAsync("LatestMovies")

</main>
