// Main

$body-bg:#000;
$body-color: #D1D0CF;
$card-bg: #141314;
$heading-color: #fff;
$headings-color: #fff;
$border-color:#313131;
$secondary: #5c6ca5;
$dark: #60658a;
$gray-800: #343a40 !default;
$gray-900: #141314 !default;

$alert-bg-scale: 60%;
$alert-border-scale: 0%;
$alert-color-scale: 80%;
