@using MovieRental.Business.Services.Interfaces
@using MovieRental.Business.ViewModels.MovieVMs
@using MovieRental.Business.ViewModels.UserVMs
@inject ILayoutService _service;

@{
    UserVM? myProfile = new();
    if (User.Claims.Any())
    {
        myProfile = await _service.GetUserAsync();
    }
    var allMovies = _service.GetSearchedMovies();
    var allMoviesJson = Newtonsoft.Json.JsonConvert.SerializeObject(allMovies);
}

<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shire</title>
    <!-- Google Font Api KEY-->
    <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="~/assets/css/core/libs.min.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/all.min.css">

    <!-- Iconly css -->
    <link rel="stylesheet" href="~/assets/vendor/iconly/css/style.css">

    <!-- Animate css -->
    <link rel="stylesheet" href="~/assets/vendor/animate.min.css">

    <!-- SwiperSlider css -->
    <link rel="stylesheet" href="~/assets/vendor/swiperSlider/swiper.min.css">





    <!-- Streamit Design System Css -->
    <link rel="stylesheet" href="~/assets/css/streamit.min.css?v=1.0.0">

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/custom.min.css?v=1.0.0">

    <!-- Rtl Css -->
    <link rel="stylesheet" href="~/assets/css/rtl.min.css?v=1.0.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&amp;display=swap" rel="stylesheet">

</head>

<body class=" custom-header-relative ">
    <span class="screen-darken"></span>

    <main class="main-content">
        <!--Nav Start-->
        <header class="header-center-home header-default">
            <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar header-hover-menu py-xl-0">
                <div class="container-fluid navbar-inner">
                    <div class="d-flex align-items-center justify-content-between w-100 landing-header">
                        <div class="d-flex gap-3 gap-xl-0 align-items-center">
                            <div>
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar_main"
                                        aria-controls="navbar_main"
                                        class="d-xl-none btn btn-primary rounded-pill p-1 pt-0 toggle-rounded-btn">
                                    <svg width="20px" class="icon-20" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                    </svg>
                                </button>
                            </div>
                            <!--Logo -->
                            <div class="logo-default">
                                <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                    <img class="img-fluid logo" src="~/assets/images/shire_default.svg" loading="lazy" alt="streamit" />
                                </a>
                            </div>
                            <div class="logo-hotstar">
                                <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                    <img class="img-fluid logo" src="~/assets/images/shire_hotstar.svg" loading="lazy" alt="streamit" />
                                </a>
                            </div>
                            <div class="logo-prime">
                                <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                    <img class="img-fluid logo" src="~/assets/images/shire_prime.svg" loading="lazy" alt="streamit" />
                                </a>
                            </div>
                            <div class="logo-hulu">
                                <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                    <img class="img-fluid logo" src="~/assets/images/shire_hulu.svg" loading="lazy" alt="streamit" />
                                </a>
                            </div>


                        </div>
                        <!-- Horizontal Menu Start -->
                        <nav id="navbar_main" class="offcanvas mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav py-xl-0">
                            <div class="container-fluid p-lg-0">
                                <div class="offcanvas-header px-0">
                                    <div class="navbar-brand ms-3">
                                        <!--Logo -->
                                        <div class="logo-default">
                                            <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                                <img class="img-fluid logo" src="~/assets/images/logo.webp" loading="lazy" alt="streamit" />
                                            </a>
                                        </div>
                                        <div class="logo-hotstar">
                                            <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                                <img class="img-fluid logo" src="~/assets/images/logo-hotstar.webp" loading="lazy" alt="streamit" />
                                            </a>
                                        </div>
                                        <div class="logo-prime">
                                            <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                                <img class="img-fluid logo" src="~/assets/images/logo-prime.webp" loading="lazy" alt="streamit" />
                                            </a>
                                        </div>
                                        <div class="logo-hulu">
                                            <a class="navbar-brand text-primary" asp-action="Index" asp-controller="Home">
                                                <img class="img-fluid logo" src="~/assets/images/logo-hulu.webp" loading="lazy" alt="streamit" />
                                            </a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close float-end px-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <ul class="navbar-nav iq-nav-menu  list-unstyled" id="header-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                                            <span class="item-name">Home</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Index" asp-controller="Community">
                                            <span class="item-name">Community</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Index" asp-controller="Movies">
                                            <span class="item-name">Movies</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- container-fluid.// -->
                        </nav>
                        <!-- Horizontal Menu End -->  
                        <style>
                            .ac-results{
                                border-top: 1px solid #2f2f2f;
                                cursor: pointer;
                                display: block;
                                font-size: 14px;
                                overflow: auto;
                                padding: 10px
                            }
                        </style>
                        <div class="right-panel">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-btn">
                                    <span class="navbar-toggler-icon"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center ms-auto mb-2 mb-xl-0">
                                    <li class="nav-item dropdown iq-responsive-menu">
                                        <div class="search-box">
                                            <a href="#" class="nav-link p-0" id="search-drop" data-bs-toggle="dropdown">
                                                <div class="btn-icon btn-sm rounded-pill btn-action">
                                                    <span class="btn-inner">
                                                        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                            </circle>
                                                            <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu p-0 dropdown-search m-0 iq-search-bar" style="width: 20rem;">
                                                <li class="p-0">
                                                    <div class="form-group input-group mb-0">
                                                        <!-- Added input element with the ID 'searchInput' -->
                                                        <input type="text" class="form-control border-0" placeholder="Search..." id="searchInput">
                                                        <button type="submit" class="search-submit">
                                                            <svg class="icon-15" width="15" viewBox="0 0 24 24" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor"
                                                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                                </circle>
                                                                <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                                                                      stroke-linecap="round" stroke-linejoin="round">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </li>
                                                <ul class="dropdown-menu search-dropdown-menu dropdown-menu-end dropdown-user border-0 p-0 m-0 show">

                                                    <!-- ... Your HTML code ... -->
                                                    <script>
                                                        var allMovies = JSON.parse('@Html.Raw(allMoviesJson)');
                                                        
                                                        async function fetchDataForMovies() {
                                                            let apiUrl = 'https://www.omdbapi.com/?apikey=137fe9c1&i=';

                                                            for (const item of allMovies) {
                                                                try {
                                                                    let response = await fetch(apiUrl + item.ImdbId);
                                                                    let data = await response.json();

                                                                    item.Poster = data.Poster;
                                                                    item.Title = data.Title;
                                                                } catch (error) {
                                                                    console.error('Error fetching additional data:', error);
                                                                    item.Year = 'N/A';
                                                                }
                                                            }

                                                            console.log(allMovies);
                                                        }

                                                        // Fetch additional data for all movies on page load
                                                        fetchDataForMovies();

                                                        // Add event listener for input change
                                                        document.getElementById('searchInput').addEventListener('input', function () {
                                                            let searchTerm = this.value.trim(); // Trim whitespace
                                                            if (searchTerm === '') {
                                                                // Clear dropdown menu when search term is empty
                                                                clearDropdownMenu();
                                                            } else {
                                                                // Filter movies based on the search term
                                                                filterDataForMovies(searchTerm);
                                                            }
                                                        });

                                                        // Filter movies based on the search term
                                                        function filterDataForMovies(searchTerm) {
                                                            // Filter movies based on the search term
                                                            let filteredMovies = allMovies.filter(item => item.Title.toLowerCase().includes(searchTerm.toLowerCase()));

                                                            // Display the filtered movies
                                                            renderMovies(filteredMovies.slice(0, 3)); // Limit to a maximum of 3 movies
                                                        }

                                                        // Render movies in the dropdown menu
                                                        function renderMovies(movies) {
                                                            // Clear previous results
                                                            let dropdownMenu = document.querySelector('.search-dropdown-menu');
                                                            dropdownMenu.innerHTML = '';

                                                            // Display new results
                                                            if (movies.length === 0) {
                                                                // Optionally, you can display a message when no movies are found
                                                                let noResultsItem = document.createElement('li');
                                                                noResultsItem.innerText = 'No results found';
                                                                dropdownMenu.appendChild(noResultsItem);
                                                            } else {
                                                                movies.forEach(movie => {
                                                                    // Create a new list item for each movie
                                                                    let listItem = document.createElement('li');
                                                                    listItem.classList.add('d-flex');
                                                                    listItem.classList.add('align-items-center');
                                                                    listItem.classList.add('ac-results');

                                                                    // Display movie information
                                                                    listItem.innerHTML = `
                                                                                <a href="/movie/watch/${movie.Id}">
                                                                                    <img src="${movie.Poster}" class="img-fluid" alt="" loading="lazy" style="height:100px;">
                                                                                    <span class="font-size-14 fw-500 text-white">${movie.Title}</span>
                                                                                </a>`;

                                                                    // Append the list item to the dropdown menu
                                                                    dropdownMenu.appendChild(listItem);
                                                                });
                                                            }
                                                        }

                                                        // Clear dropdown menu
                                                        function clearDropdownMenu() {
                                                            let dropdownMenu = document.querySelector('.search-dropdown-menu');
                                                            dropdownMenu.innerHTML = '';
                                                        }
                                                    </script>

                                                    <!-- ... Your HTML code ... -->


                                                </ul>

                                            </ul>
                                        </div>



                                    </li>
                                    @if (User.Claims.Any())
                                    {
                                    <li class="nav-item dropdown" id="itemdropdown1">
                                        <a class="nav-link d-flex align-items-center" href="#" id="navbarDropdown" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                                <div style="width: 35px; height: 35px; overflow: hidden; border-radius: 50%;">
                                                    @if(myProfile.ProfileImageUrl == null)
                                                    {
                                                        <img src="~/assets/images/blankProfilePhoto.png" class="icon-18" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" alt="Profile Image" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/profile/@myProfile.ProfileImageUrl" class="icon-18" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" alt="Profile Image" />
                                                    }
                                                </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-user border-0 p-0 m-0"
                                            aria-labelledby="navbarDropdown">
                                            <li class="user-info d-flex align-items-center gap-3 mb-3">
                                                    @if (myProfile.ProfileImageUrl == null)
                                                    {
                                                        <img src="~/assets/images/blankProfilePhoto.png" class="img-fluid" alt="" loading="lazy">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/profile/@myProfile.ProfileImageUrl" class="img-fluid" alt="" loading="lazy">
                                                    }
                                                    <span class="font-size-14 fw-500 text-white">@myProfile.Username</span>
                                            </li>
                                            <li>
                                                <a asp-action="Index" asp-controller="Account" class="iq-sub-card d-flex align-items-center gap-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 22" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84455 20.6621C4.15273 20.6621 1 20.0876 1 17.7868C1 15.486 4.13273 13.3621 7.84455 13.3621C11.5364 13.3621 14.6891 15.4654 14.6891 17.7662C14.6891 20.066 11.5564 20.6621 7.84455 20.6621Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.83725 10.1738C10.26 10.1738 12.2236 8.21015 12.2236 5.78742C12.2236 3.36469 10.26 1.40015 7.83725 1.40015C5.41452 1.40015 3.44998 3.36469 3.44998 5.78742C3.4418 8.20196 5.3918 10.1656 7.80634 10.1738C7.81725 10.1738 7.82725 10.1738 7.83725 10.1738Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                    <h6 class="mb-0 font-size-14 fw-normal">My Account</h6>
                                                </a>
                                            </li>
                                            <li>
                                                    <a asp-controller="Account" asp-action="MyWatchlist" class="iq-sub-card d-flex align-items-center gap-3">
                                                    <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="m0 0h24v24h-24z" fill="#fff" opacity="0"
                                                              transform="matrix(-1 0 0 -1 24 24)" />
                                                        <path d="m19 11h-6v-6a1 1 0 0 0 -2 0v6h-6a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2z"
                                                              fill="currentColor" />
                                                    </svg>
                                                    <h6 class="mb-0 font-size-14 fw-normal">Watchlist</h6>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-action="Logout" asp-controller="Auth"
                                                   class="iq-sub-card iq-logout-2 mt-1 d-flex justify-content-center gap-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                                         fill="none">
                                                        <path d="M1.82209 15.9999C1.46654 15.9999 1.16283 15.874 0.910981 15.6221C0.659129 15.3703 0.533203 15.0666 0.533203 14.711V1.73322C0.533203 1.37767 0.659129 1.07397 0.910981 0.822114C1.16283 0.570262 1.46654 0.444336 1.82209 0.444336H7.95543V1.44434H1.82209C1.74802 1.44434 1.68135 1.47397 1.62209 1.53322C1.56283 1.59248 1.5332 1.65915 1.5332 1.73322V14.711C1.5332 14.7851 1.56283 14.8517 1.62209 14.911C1.68135 14.9703 1.74802 14.9999 1.82209 14.9999H7.95543V15.9999H1.82209ZM12.0888 11.5999L11.3554 10.8888L13.5332 8.73322H5.68876V7.711H13.511L11.3332 5.55545L12.0665 4.82211L15.4665 8.24434L12.0888 11.5999Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                    <h6 class="mb-0 font-size-14 fw-normal">Logout</h6>
                                                </a>
                                            </li>
                                        </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item dropdown iq-responsive-menu">

                                            <a asp-action="Login" asp-controller="Auth" class="nav-link p-0">
                                                <div class="search-box">
                                                    <svg width="30px" height="30px" viewBox="-4.8 -4.8 33.60 33.60" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2.00098 11.999L16.001 11.999M16.001 11.999L12.501 8.99902M16.001 11.999L12.501 14.999" stroke="#ffffff" stroke-width="1.32" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17" stroke="#ffffff" stroke-width="1.32" stroke-linecap="round"></path> </g></svg>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>      <!--Nav End-->
        <div>
            @RenderBody()

        </div>

        <footer class="footer footer-default">
            <div class="container-fluid">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 mb-5 mb-lg-0">
                            <div class="footer-logo">
                                <!--Logo -->
                                <div class="logo-default">
                                    <a class="navbar-brand text-primary" href="./index.html">
                                        <img class="img-fluid logo" src="~/assets/images/shire_default.svg" loading="lazy" alt="streamit" />
                                    </a>
                                </div>
                                <div class="logo-hotstar">
                                    <a class="navbar-brand text-primary" href="./index.html">
                                        <img class="img-fluid logo" src="~/assets/images/shire_hotstar.svg" loading="lazy" alt="streamit" />
                                    </a>
                                </div>
                                <div class="logo-prime">
                                    <a class="navbar-brand text-primary" href="./index.html">
                                        <img class="img-fluid logo" src="~/assets/images/shire_prime.svg" loading="lazy" alt="streamit" />
                                    </a>
                                </div>
                                <div class="logo-hulu">
                                    <a class="navbar-brand text-primary" href="./index.html">
                                        <img class="img-fluid logo" src="~/assets/images/shire_hulu.svg" loading="lazy" alt="streamit" />
                                    </a>
                                </div>
                            </div>
                            <p class="mb-4 font-size-14">
                                Email us: <span class="text-white">customer@streamit.com</span>
                            </p>
                            <p class="text-uppercase letter-spacing-1 font-size-14 mb-1">customer services</p>
                            <p class="mb-0 contact text-white">+ (480) 555-0103</p>
                        </div>
                        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
                            <h4 class="footer-link-title">Quick Links</h4>
                            <ul class="list-unstyled footer-menu">
                                <li class="mb-3">
                                    <a href="./about-us.html" class="ms-3">about us</a>
                                </li>
                                <li class="mb-3">
                                    <a href="./blog/blog-listing.html" class="ms-3">Blog</a>
                                </li>
                                <li class="mb-3">
                                    <a href="./pricing-plan.html" class="ms-3">Pricing Plan</a>
                                </li>
                                <li>
                                    <a href="./faq.html" class="ms-3">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
                            <h4 class="footer-link-title">Movies to watch</h4>
                            <ul class="list-unstyled footer-menu">
                                <li class="mb-3">
                                    <a href="./view-all-movie.html" class="ms-3">Top trending</a>
                                </li>
                                <li class="mb-3">
                                    <a href="./view-all-movie.html" class="ms-3">Recommended</a>
                                </li>
                                <li>
                                    <a href="./view-all-movie.html" class="ms-3">Popular</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
                            <h4 class="footer-link-title">About company</h4>
                            <ul class="list-unstyled footer-menu">
                                <li class="mb-3">
                                    <a href="./contact-us.html" class="ms-3">contact us</a>
                                </li>
                                <li class="mb-3">
                                    <a href="./privacy-policy.html" class="ms-3">privacy policy</a>
                                </li>
                                <li>
                                    <a href="./terms-of-use.html" class="ms-3">Terms of use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-lg-6">
                            <h4 class="footer-link-title">Subscribe Newsletter</h4>
                            <div class="mailchimp mailchimp-dark">
                                <div class="input-group mb-3 mt-4">
                                    <input type="text" class="form-control mb-0 font-size-14" placeholder="Email*" aria-describedby="button-addon2">
                                    <div class="iq-button">
                                        <button type="submit" class="btn btn-sm" id="button-addon2">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-5">
                                <span class="font-size-14 me-2">Follow Us:</span>
                                <ul class="p-0 m-0 list-unstyled widget_social_media">
                                    <li class="">
                                        <a href="https://www.facebook.com/" class="position-relative">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://twitter.com/" class="position-relative">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://github.com/" class="position-relative">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://www.instagram.com/" class="position-relative">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom border-top">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <ul class="menu list-inline p-0 d-flex flex-wrap align-items-center">
                                <li class="menu-item">
                                    <a href="#"> Terms Of Use </a>
                                </li>
                                <li id="menu-item-7316" class="menu-item">
                                    <a href="./privacy-policy.html"> Privacy-Policy </a>
                                </li>
                                <li class="menu-item">
                                    <a href="./faq.html"> FAQ </a>
                                </li>
                                <li class="menu-item">
                                    <a href="./playlist.html"> Watch List </a>
                                </li>
                            </ul>
                            <p class="font-size-14">© <span class="currentYear"></span> <span class="text-primary">STREAMIT</span>. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Streamit Inc. Duplication and copy of this is strictly prohibited. All rights reserved. </p>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <h6 class="font-size-14 pb-1">Download Streamit Apps </h6>
                            <div class="d-flex align-items-center">
                                <a class="app-image" href="#">
                                    <img src="~/assets/images/footer/google-play.webp" loading="lazy" alt="play-store" />
                                </a>
                                <br />
                                <a class="ms-3 app-image" href="#">
                                    <img src="~/assets/images/footer/apple.webp" loading="lazy" alt="app-store" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="rtl-box">
            <a class="btn btn-fixed-end btn-icon btn-setting" id="settingbutton" data-bs-toggle="offcanvas"
               data-bs-target="#live-customizer" role="button" aria-controls="live-customizer">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.875em" height="1.875em" viewBox="0 0 20 20" fill="white">
                    <path fill-rule="evenodd"
                          d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                          clip-rule="evenodd" />
                </svg>
            </a>
            <div class="offcanvas offcanvas-end live-customizer on-rtl end" tabindex="-1" id="live-customizer"
                 data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="live-customizer-label" aria-modal="true"
                 role="dialog">
                <div class="offcanvas-header gap-3">
                    <div class="d-flex align-items-center">
                        <h5 class="offcanvas-title text-dark" id="live-customizer-label">Live Customizer</h5>
                    </div>
                    <div class="d-flex gap-1 align-items-center">
                        <button class="btn btn-icon text-primary" data-reset="settings" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Reset All Settings"
                                data-bs-original-title="Reset All Settings">
                            <span class="btn-inner">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-icon btn-close px-0 text-reset shadow-none text-dark" data-bs-dismiss="offcanvas" aria-label="Close">
                        </button>
                    </div>
                </div>
                <div class="offcanvas-body pt-0">
                    <div class="modes row row-cols-2 gx-2">
                        <div class="col">
                            <div data-setting="attribute" class="text-center w-100">
                                <input type="radio" value="ltr" class="btn-check" name="theme_scheme_direction" data-prop="dir"
                                       id="theme-scheme-direction-ltr" checked>
                                <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-direction-ltr">
                                    LTR
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-setting="attribute" class="text-center w-100">
                                <input type="radio" value="rtl" class="btn-check" name="theme_scheme_direction" data-prop="dir"
                                       id="theme-scheme-direction-rtl">
                                <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-direction-rtl">
                                    RTL
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modes mt-3">
                        <div class="color-customizer mb-3">
                            <h6 class="mb-0 title-customizer">Color Customizer</h6>
                        </div>
                        <div class="row row-cols-2 gx-2">
                            <div class="col mb-3">
                                <div data-setting="attribute" class="text-center w-100">
                                    <input type="radio" value="dark" class="btn-check" name="theme_style_appearance"
                                           data-prop="data-bs-theme" id="theme-scheme-color-netflix" checked>
                                    <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-color-netflix">
                                        Netflix
                                    </label>
                                </div>
                            </div>
                            <div class="col mb-3">
                                <div data-setting="attribute" class="text-center w-100">
                                    <input type="radio" value="hotstar" class="btn-check" name="theme_style_appearance"
                                           data-prop="data-bs-theme" id="theme-scheme-color-hotstar">
                                    <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-color-hotstar">
                                        Hotstar
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div data-setting="attribute" class="text-center w-100">
                                    <input type="radio" value="amazonprime" class="btn-check" name="theme_style_appearance"
                                           data-prop="data-bs-theme" id="theme-scheme-color-prime">
                                    <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-color-prime">
                                        Prime
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div data-setting="attribute" class="text-center w-100">
                                    <input type="radio" value="hulu" class="btn-check" name="theme_style_appearance"
                                           data-prop="data-bs-theme" id="theme-scheme-color-hulu">
                                    <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-color-hulu">
                                        Hulu
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div id="back-to-top" style="display: none;">
            <a class="p-0 btn bg-primary btn-sm position-fixed top border-0 rounded-circle" id="top" href="#top">
                <i class="fa-solid fa-chevron-up"></i>
            </a>
        </div>




        <!-- fslightbox Script -->
        <script src="~/assets/js/plugins/fslightbox.js" defer></script>
        <!-- Lodash Utility -->
        <script src="~/assets/vendor/lodash/lodash.min.js"></script>
        <!-- External Library Bundle Script -->
        <script src="~/assets/js/core/external.min.js"></script>
        <!-- countdown Script -->
        <script src="~/assets/js/plugins/countdown.js"></script>
        <!-- utility Script -->
        <script src="~/assets/js/utility.js"></script>
        <!-- Setting Script -->
        <script src="~/assets/js/setting.js"></script>
        <script src="~/assets/js/setting-init.js" defer></script>
        <!-- Streamit Script -->
        <script src="~/assets/js/streamit.js" defer></script>
        <script src="~/assets/js/swiper.js" defer></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <!-- Wrapper End-->
        <!-- Library Bundle Script -->
        <script src="~/assets/js/core/libs.min.js"></script>
        <!-- Plugin Scripts -->
        <!-- SwiperSlider Script -->
        <script src="~/assets/vendor/swiperSlider/swiper.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

