@using MovieRental.Business.ViewModels.AdminVMs.MovieVMs
@using MovieRental.Business.ViewModels.MovieVMs
@model MovieAdminVM


        </div>
        <div class="content-inner container-fluid pb-0" id="page_layout">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card pb-3">
                        <div class="card-header border-bottom d-flex justify-content-between align-items-center pb-3">
                            <div class="d-flex align-items-center pt-3">
                                <div class="form-group">
                                    <select type="select" class="form-control select2-basic-multiple" placeholder="No Action">
                                        <option>No Action</option>
                                        <option>Status</option>
                                        <option>Delete</option>
                                    </select>
                                    <button class="btn btn-primary ">Apply</button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#season-offcanvas" aria-controls="season-offcanvas">
                                <i class="fa-solid fa-plus me-2"></i>Add Movie
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-view table-responsive pt-3 table-space">
                                <table id="seasonTable" class="data-tables table custom-table movie_table" data-toggle="data-table">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th class="text-center">
                                                <input type="checkbox" class="form-check-input" />
                                            </th>
                                            <th>Movie</th>
                                            <th>Quality</th>
                                            <th>Category</th>
                                            <th>Publish Date</th>
                                            <th>Movie Access</th>
                                            <th>Seo</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.MovieListItemVMs.Any())
                                        {
                                        foreach(var item in Model.MovieListItemVMs)
                                        {
                                            <tr>
                                            <td>
                                                <input type="checkbox" class="form-check-input" />
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <img id="movie-image-@item.Id" alt="image" class="rounded-2 avatar avatar-55 img-fluid" />
                                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                                        <h6 id="movie-title-@item.Id" class="text-capitalize">arrival 1999</h6>
                                                        <small>2h 21m</small>
                                                        <small class="text-capitalize">(english, hindi)</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <small>480/720/1080</small>
                                            </td>
                                            <td>
                                                hello
                                            </td>
                                            <td>
                                                <small>2010</small>
                                            </td>
                                            <td>world</td>
                                            <td>!!!</td>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    <div class="form-check form-switch ms-2">
                                                        <input class="form-check-input" type="checkbox" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center list-user-action">
                                                    <button type="button" class="btn btn-sm btn-icon btn-success rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i class="fa-solid fa-pen" data-bs-toggle="offcanvas" data-bs-target="#season-offcanvas-edit" aria-controls="season-offcanvas-edit"></i>
                                                    </button>
                                                    <a class="btn btn-sm btn-icon btn-danger delete-btn rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" href="#">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <script>

                                            apiUrl = 'https://www.omdbapi.com/?apikey=137fe9c1&i=@item.ImdbId';

                                            fetch(apiUrl)
                                                .then(response => response.json())
                                                .then(data => {
                                                    // Extract the poster URL from the OMDB API response
                                                    let posterUrl = data.Poster;
                                                    let title = data.Title;
                                                    console.log(title);
                                                    // Set the image source in the HTML
                                                    movieImage = document.getElementById('movie-image-@item.Id');
                                                    movieTitle = document.getElementById('movie-title-@item.Id');
                                              
                                                        movieImage.src = posterUrl;
                                                        movieTitle.textContent = title;
                                                    
                                                })
                                                .catch(error => console.error('Error fetching data:', error));
                                        </script>
                                            }
                                    <script>

                                        let apiUrl = 'https://www.omdbapi.com/?apikey=137fe9c1&i=item.ImdbId'; // Assuming ImdbId is the property containing the IMDb ID of the movie
                                        let movieImage;
                                        let movieTitle;
                                    </script>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="text-center" colspan="9">No data</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas" aria-labelledby="season-offcanvas-lable">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel1">Add New Movie</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form method="post">
                            <div class="section-form">
                                <fieldset>
                                    <legend>Movie</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group px-5 ">
                                                <label class="form-label flex-grow-1" for="Movie Name">
                                                    <strong>Movie Name</strong> <span class="text-danger">*</span>:
                                                </label>

                                                <!-- textarea input -->
                                                <!-- toggle switch -->
                                                <!-- common inputs -->
                                                <input asp-for="MovieCreateVM.ImdbId" class="form-control" placeholder="Enter Movie Name"/>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                            <button type="submit" asp-action="Create">Create</button>
                        </form>
                    </div>
                    <div class="offcanvas-footer border-top">
                        <div class="d-grid d-flex gap-3 p-3">
@*                             <button asp-action="Create" type="submit" class="btn btn-primary d-block">
                                <i class="fa-solid fa-floppy-disk me-2"></i>Save
                            </button> *@
                            <button type="button" class="btn btn-outline-primary d-block" data-bs-dismiss="offcanvas" aria-label="Close">
                                <i class="fa-solid fa-angles-left me-2"></i>Close
                            </button>
                        </div>
                    </div>
                </div>
                <div class="offcanvas offcanvas-end offcanvas-width-80" tabindex="-1" id="season-offcanvas-edit" aria-labelledby="season-offcanvas-edit-lable">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel1">Edit Movie</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form method="post">
                            <div class="section-form">
                                <fieldset>
                                    <legend>Movie</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group px-5 ">
                                                <label class="form-label flex-grow-1" for="Movie Name">
                                                    <strong>Movie Name</strong> <span class="text-danger">*</span>:
                                                </label>

                                                <!-- textarea input -->
                                                <!-- toggle switch -->
                                                <!-- common inputs -->
                                                <input class="form-control " placeholder="Enter Movie Name" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" asp-action="Update"></button>
                        </form>
                    </div>
                    <div class="offcanvas-footer border-top">
                        <div class="d-grid d-flex gap-3 p-3">
                            <button type="submit" class="btn btn-primary d-block">
                                <i class="fa-solid fa-floppy-disk me-2"></i>Save
                            </button>
                            <button type="button" class="btn btn-outline-primary d-block" data-bs-dismiss="offcanvas" aria-label="Close">
                                <i class="fa-solid fa-angles-left me-2"></i>Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
