@using MovieRental.Business.ViewModels.PostVMs
@model PostCreateVM               

<div class="container-fluid">
    <div id="review-01" class="tab-pane animated fadeInUp" role="tabpanel">
        <div class="streamit-reviews">

            <div class="review_form">
                <div class="comment-respond">
                    <h3 class="fw-500 my-2">
                        Be the first to review “Zombie Island”
                    </h3>
                    <form method="post" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-2">
                                    Title
                                </label>
                                <input asp-for=Title class="form-control" cols="5" rows="8" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="mb-2">
                                    Description
                                </label>
                                <input asp-for=Description class="form-control" cols="5" rows="8" />
                            </div>
                        </div>
                        <select asp-for=TagId type="select" class="form-control select2-basic-multiple" placeholder="select tag" tabindex="0" aria-hidden="false">
                            <option>1</option>
                            <option>2</option>
                            <option>Animation</option>
                            <option>Horror</option>
                            <option>Thriller</option>
                        </select>
                        <div class="col-md-12">
                            <div class="form-submit mt-4">
                                <div class="iq-button">
                                    <button asp-action="Create" type="submit" id="submit" class="btn text-uppercase position-relative">
                                        <span class="button-text">Submit</span>
                                        <i class="fa-solid fa-play"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>