@using MovieRental.Business.ViewModels.CommunityVMs
@using MovieRental.Business.ViewModels.TagVMs
@model CommunityVM
        <!--bread-crumb-->
<div class="iq-breadcrumb" style="background-image: url('@Url.Content("~/assets/images/pages/01.webp")');">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb" class="text-center">
                            <h2 class="title">Tags</h2>
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                                <li class="breadcrumb-item active">Tags</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--bread-crumb-->
<!-- CHAT SECTION BEGIN -->

<style>
    /* Add your existing styles here */
    #toggleChatButton {
        border-radius: 5px;
        margin-top: 70px;
        cursor: pointer;
        width: 200px;
    }

    #chatContainer {
        height: 0; /* Set initial height to 0 */
        overflow: hidden;
        transition: height 0.3s ease-in-out; /* Add transition for smooth animation */
        background-color: #2d2e3e;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 70px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    #chatBody::-webkit-scrollbar {
        width: 12px; /* Width of the invisible scrollbar */
    }

    #chatBody::-webkit-scrollbar-thumb {
        background-color: transparent; /* Make the thumb transparent */
    }

    #chatBody::-webkit-scrollbar-thumb {
        background-color: transparent; /* Make the thumb transparent */
    }

    #chatBody {
        overflow-y: auto;
        flex: 1;
        padding: 30px;
        margin-right: 0;
        scroll-behavior: smooth;
    }

    #messagesList {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .message {
        background-color: #2d2e3e;
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #messageInput {
        width: calc(100% - 20px); /* Adjust the width to leave space for the Send button */
        margin-right: 10px;
    }

    /* Add your other styles here */
</style>

<div class="container">
    <div class="iq-button" style="display: flex; justify-content: center;">
        <button class="btn" id="toggleChatButton">Toggle Chat</button>
    </div>
    <div id="chatContainer" class="form-control">
        <div id="chatBody">
            <ul id="messagesList">

            </ul>
        </div>
        <div class="message d-flex align-items-center" style="display: flex;justify-content: space-between;">
            <div class="" style="width: -webkit-fill-available;">
                <div class="col-5" style="width: -webkit-fill-available;">
                    <input required placeholder="Send a message..." type="text" class="w-100 form-control" id="messageInput" />
                </div>
            </div>
            <div class="ms-2">
                <div class="col-6 text-end" style="width: -webkit-fill-available;">
                    <div class="iq-button">
                        <button class="btn" type="button" id="sendButton" value="Send Message">
                            Send

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/microsoft-signalr/signalr.min.js"></script>
<script>
    var chatContainer = document.getElementById("chatContainer");
    var toggleChatButton = document.getElementById("toggleChatButton");

    toggleChatButton.addEventListener("click", function () {
        if (chatContainer.style.height === "0px" || chatContainer.style.height === "") {
            chatContainer.style.height = "700px"; /* Set the desired height */
            toggleChatButton.textContent = "Hide Chat";
        } else {
            chatContainer.style.height = "0";
            toggleChatButton.textContent = "Show Chat";
        }
    });

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var myUsername = `@User.Identity.Name`;
    console.log(myUsername);

    //Disable the send button until connection is established.
    document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, profileImageUrl, message) {
        // var li = document.createElement("li");
        // var img = document.createElement("img");
        // document.getElementById("messagesList").appendChild(li);
        // document.getElementById("messagesList").appendChild(img);
        if (profileImageUrl == null) 
        { 
            profileImageUrl = "@Url.Content("~/assets/images/blankProfilePhoto.png")" 
        }
        else
        {
            profileImageUrl = '/images/profile/' + profileImageUrl
        }
        var messagesList = document.getElementById("messagesList");
        messagesList.innerHTML += `
                <div class="comments-wrap p-0" style="margin-bottom: 40px; margin-top: 20px;">
                <div class="comment-input" ${user == myUsername ? 'style="display: flex; justify-content: flex-end;"' : ''}>
                <div class="form-control" style="width: max-content;">

                <div class="slider-ratting d-flex">
    <div class="iq-avatar me-2">
    <img class="avatar-40 rounded-small" src="${profileImageUrl}" alt="#" data-bs-original-title="" title="">
                                </div>
                    <div class="ci-form ms-2" style="width: -webkit-fill-available;">
                        <div class="ihead d-flex align-items-center">
                            <div class="user-name">
                                    <a class="link-highlight ml-1" href="${user}/profile">${user == myUsername ? "You" : user}</a>
                            </div>
                        </div>
                        <div class="ibody">
                            <p>${message}</p>   
                        </div>

                        </div>
                     </div>
                </div>
            </div>
            </div>
            `;
        document.getElementById("chatBody").scrollBy(0, 1000);
        document.getElementById("messageInput").value = '';
        // We can assign user-supplied strings to an element's textContent because it

    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("messageInput").value;
        if (!message || message.trim() === "") {
        } else {
            connection.invoke("SendMessage", message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        }
    });


    var messageInput = document.getElementById("messageInput");
    messageInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("sendButton").click();
        }
    });
</script>
<!-- CHAT SECTION END -->



        <section class="section-padding">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="main-title text-capitalize mb-0">Movie Tag</h4>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
            @foreach(var item in Model.Tags)
            {
                <div class="col">
                        <a asp-action="Posts" asp-route-tagTitle="@item.Title" class="iq-tag-box">
                        <span class="iq-tag">
                            #@item.Title
                        </span>
                        <p>
                            @item.Posts.Count()
                        </p>
                    </a>
                    </div>
            }
                </div>
                <div class="text-center">
                    <div class="iq-button">
                        <a href="javascript:void(0)" class="btn position-relative">
                        <span class="button-text">Create Post</span>
                        <i class="fa-solid fa-play"></i>
                    </a>
                    </div>
                </div>

        <form asp-action="CreatePost" method="post" class="row">
                    <div class="col-sm-12">
                <div class="form-group px-5">
                            <label asp-for=PostCreateVM.Title class="mb-2">
                                Title
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <input asp-for="PostCreateVM.Title" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                <div class="form-group px-5">
                            <label asp-for=PostCreateVM.Description class="mb-2">
                                Description
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <input asp-for=PostCreateVM.Description class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group px-5">
                    <label asp-for=PostCreateVM.TagId class="form-label flex-grow-1">
                        <strong>
                            Tag
                        </strong>
                    </label>
                    <select asp-for=PostCreateVM.TagId asp-items="ViewBag.Tags" id="movie-access" type="select" class="form-control select2-basic-multiple" placeholder="select movie access">
                        <option value="none" disabled selected>Select tags</option>
                    </select>
                </div>
            </div>
                    <div class="col-sm-12">
                        <div class="form-submit mt-4 px-5">
                            <div class="iq-button">
                        <button asp-action="CreatePost" type="submit" class="btn text-uppercase position-relative">
                                    <span class="button-text">Submit</span>
                                    <i class="fa-solid fa-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </main>